<hibernate-configuration>
    <session-factory>
        <!-- Database connection setting -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:./data/test</property>
        <!-- SQl dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <!--         Create the database schema on startup -->
        <!--        <property name="hbm2ddl.auto">create</property>-->
        <!-- update the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        <!-- Show the queries prepared by Hibernate -->
        <!--        <property name="show_sql">true</property>-->
        <!-- Names the annotated entity classes -->
        <!--  here we define mapping class :\ -->
<!--        <mapping class="model.Board"/>-->
<!--        <mapping class="model.NextPiece"/>-->
<!--        <mapping class="model.Record"/>-->
<!--        <mapping class="model.ScoreBord"/>-->
<!--        <mapping class="model.Piece"/>-->
<!--        <mapping class="model.Tile"/>-->
<!--        <mapping class="model.Player"/>-->
        <!--        <mapping class="model.BodyLog"/>-->

        <!--        ????????????????????????????????????????????-->
        <!--        <mapping class="model.Unit"/>-->
        <!--        <mapping class="model.Card"/>-->


    </session-factory>
</hibernate-configuration>
